.container {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-width: 10px;
  justify-content: center;
  background-color: rgb(61, 108, 179);
  padding: 1rem;
  text-align: center;
}

.container {
  text-align: left;
  color: white;
}

.control label {
  margin-right: 10px;
  font-size: 20px;
}

.control input {
  font: inherit;
  border-width: 0px;
  outline: 0px;
  border-bottom-width: 1px;
  border-color: white;
  width: 100%;
  background-color: transparent;
  padding: 0.25rem;
}

.control input:focus {
  border-bottom-color: rgb(28, 203, 226);
  border-bottom-width: 2px;
  color: white;
}
