.container {
  margin: 3rem auto;
  width: 100%;
  max-width: 25rem;
  border-width: 10px;
  border-radius: 2px;
  justify-content: center;
  background-color: rgb(61, 108, 179);
  padding: 3rem;
  text-align: center;
}

.container {
  color: white;
}
